.about-container {
    margin-top: 50px;
    min-height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: sans-serif;
    overflow: hidden;
}

.about-first-section {
    height: 450px;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.about-first-content {
    height: 100%;
    width: 500px;
    padding-top: 50px;
    padding-right: 20px;
}

.about-title {
    font-size: 2rem;
    padding-bottom: 20px;
    font-weight: bolder;
}

.about-content-p {
    font-size: 1.5rem;
    font-weight: 300;
}

.about-first-img {
    border-radius: 20px;
}

.about-second-section {
    background-color: rgb(243, 243, 243);
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.our-mission {
    text-transform: uppercase;
    font-weight: 300;
    padding-bottom: 20px;
}

.quote {
    font-weight: 900;
}

.about-third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.third-section-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.third-section-content {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.third-sec-containers {
    width: 25%;
}

.third-sec-p-title {
    padding-bottom: 10px;
}

@media (max-width: 500px) {
    .about-first-section {
        flex-direction: column;
        height: 100%;
    }
    .about-first-content {
        max-width: 100vw;
        padding-top: 10px;
        padding-right: 0;
    }
    .about-title {
        max-width: 355px;
    }
    .about-content-p {
        padding: 0 40px 20px 0;
        height: 250px;
    }
    .about-second-section {
        padding: 20px;
    }
    .third-section-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .third-sec-containers {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-height: 400px) {
    .about-first-section {
        flex-direction: column;
        align-items: center;
        height: 100%;
        text-align: center;
    }
    .about-first-content {
        height: 350px;
        padding-right: 0;
    }
    .about-first-img {
        width: 90%;
    }
    .about-second-section {
        padding: 20px;
    }
}