.account-wrapper {
    min-height: calc(100vh - 150px);
    margin-top: 50px;
}

.account-info {
    padding: 5px;
}

.user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(233, 233, 233);
    margin: 0px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    font-size: 2rem;
    width: 500px;
}

.name, .email {
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.name {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.email {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.purchases-wrapper {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    background-color: #4296BD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchases-header {
    margin-bottom: 10px;
    color: white;
}

.each-purchase {
    background-color: rgb(233, 233, 233);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items-in-each-purchase {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    margin: 10px 0px;
    border-radius: 10px;
}

.item-name, .item-quantity, .item-price {
    width: 100px;
    text-align: center;
}

.purchase-total {
    padding: 5px;
}

@media (max-width: 500px) {
    .user-info {
        width: 100%;
        margin: 0;
    }
    .email, .name {
        flex-wrap: wrap;
    }
}