.cart-wrapper {
    min-height: calc(100vh - 50px);
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.cart-list {
    border-radius: 10px;
    padding: 10px;
    list-style-type: none;
    margin-top: 20px;
    height: 100%;
    width: 90%;
    background-color: rgb(241, 241, 241);
    text-align: center;
}

.cart-title {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.cart-total {
    padding: 10px;
    text-align: center;
}

.check-out-btn {
    position: relative;
    margin: auto;
    background-color: green;
    margin-bottom: 10px;
}

.prod-item {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(223, 223, 223);
}

.prod-img {
    width: 200px;
    height: 100px;
}

.prod-title {
    width: 200px;
}

.prod-desc {
    width: 250px;
}

.prod-item [type="number"] {
    width: 50px;
    height: 30px;
    font-size: 1rem;
    padding-left: 10px;
}

.prod-price {
    width: 75px;
}

.trash-can {
    cursor: pointer;
}

.trash-can:hover {
    transform: scale(1.2);
}

@media (max-width: 500px) {
    .prod-item {
        flex-direction: column;
        height: 400px;
    }
    .prod-img {
        height: auto;
        width: 100%;
    }
}