.login-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.657);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    overflow: hidden;
}

.login-form-wrapper {
    background-color: #e6e6e6;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    color: black;
    border-radius: 10px;
}

.login-heading {
    font-size: 2rem;
    text-align: center;
    color: #111E45;
}

.login-heading p {
    font-size: 1.5rem;
    padding-top: 10px;
}

.error-msg {
    background-color: rgb(250, 174, 174);
    color: red;
    width: 100%;
}

.login-form {
    height: 350px;
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.login-form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form-group label {
    padding-bottom: 10px;
    font-size: 1.5rem;
    color: #111E45;
}

.login-form-group input {
    height: 30px;
    padding: 5px;
}

.login-form-btn {
    position: relative;
    width: 100px;
    align-self: center;
    background-color: #4296BD;
}

.login-form-btn:hover {
    background-color: #111E45;
}

.register-link {
    text-decoration: underline;
    cursor: pointer;
}

.register-link:hover {
    color: #4296BD;
}

.demo-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.demo-login {
    background-color: #4296BD;
    color: white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s all ease-in-out;
}

.demo-login:hover {
    background-color: #8FCAE6;
    color:#111E45;
}