.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100%;
    position: fixed;
    z-index: 1;
    color: white;
    top: 0;
    background-color: rgba(0, 0, 0, 0.438);
}

.nav-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    height: 100%;
}

.logo {
    padding-left: 20px;
}

.links {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 1px;
    height: 100%;
    width: 100%;
    padding: 0 10px;
    transition: .2s all ease-in-out;
}

.links:hover {
    background-color: rgba(0, 0, 0, 0.644);
    text-decoration: underline;
    text-underline-offset: 5px;
}

.cart {
    position: relative;
}

.cart-icon {
    position:absolute;
    background-color: #4296BD;
    height: 15px;
    width: 15px;
    font-size: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1px;
    top: 20%;
    right: -5%;
}

.user-icon {
    padding: 10px 20px;
}

.hidden {
    display: none;
}

.shown {
    position: relative;
    height: 100%;
    width: 1px;
}

.user-menu {
    position: absolute;
    left: -110px;
    bottom: -280%;
    list-style-type: none;
    background-color: rgba(0, 0, 0, 0.808);
    text-align: right;
    cursor:default;
    width: 130px;
}

.no-user {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: -160%;
    left: -99px;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.808);
    padding: 10px;
}

.shown li:first-child {
    padding-top: 5px;
}

.shown li {
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 20px;
}

.sign-out {
    cursor: pointer;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
}

@media (max-width: 500px) {
    
}